div*{
    text-align: right;
    padding: 5px 20px;
    font-family: cursive;
    display: inline; 
    font-size: x-small;

}

nav{
    text-align: right;
    padding: 5px 20px;
    font-family: cursive;
    display: inline; 
    font-size: x-small;

}

.login-container-right{

    float: right;

}